/* Generic styles */

.croc_ui_fullscreen {
	position:fixed !important;
	top:0 !important;
	bottom:0 !important;
	left:0 !important;
	right:0 !important;
	width:auto !important;
	height:auto !important;
}

/* Generic */
.croc_ui_hidden {
	display:none !important;
}

.croc_disabled {
	opacity:0.25;
}

.croc_btn_muted .croc_ui_image {
	background: url(../images/icons.png) no-repeat -246px -130px;
}
.croc_btn_muted:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -246px -130px;
}
.croc_btn_muted.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -246px -130px;
}

.croc_btn_mute_s .croc_ui_image {
	background: url(../images/icons.png) no-repeat -83px -170px;
}
.croc_btn_mute_s:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -83px -170px;
}
.croc_btn_mute_s.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -83px -199px;
}
.croc_btn_pausevideo_s .croc_ui_image {
	background: url(../images/icons.png) no-repeat -124px -170px;
}
.croc_btn_pausevideo_s:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -124px -170px;
}
.croc_btn_pausevideo_s.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -124px -199px;
}
.croc_btn_endcall_s .croc_ui_image {
	background: url(../images/icons.png) no-repeat -165px -170px;
}
.croc_btn_endcall_s:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -165px -170px;
}
.croc_btn_endcall_s.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -165px -199px;
}
.croc_btn_keypad .croc_ui_image {
	background:url(../images/icons.png) no-repeat -165px -395px;
}

.croc_btn_close .croc_ui_image {
	background:url(../images/icons.png) no-repeat -109px -341px;
}
.croc_btn_fullscreen .croc_ui_image {
	background:url(../images/icons.png) no-repeat -82px -341px;
}
.croc_btn_localvideo .croc_ui_image {
	background:url(../images/icons.png) no-repeat -192px -144px;
}
