/* Generic styles */

/* Mute button */
.croc_btn_muted .croc_ui_image {
	background: url(../images/icons.png) no-repeat -246px -130px;
}
.croc_btn_muted:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -246px -130px;
}
.croc_btn_muted.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -246px -130px;
}
.croc_btn_mute_s .croc_ui_image {
	background: url(../images/icons.png) no-repeat -83px -170px;
}
.croc_btn_mute_s:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -83px -170px;
}
.croc_btn_mute_s.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -83px -199px;
}

/* End call button */
.croc_btn_endcall_s .croc_ui_image {
	background: url(../images/icons.png) no-repeat -165px -170px;
}
.croc_btn_endcall_s:hover .croc_ui_image {
	background: url(../images/icons.png) no-repeat -165px -170px;
}
.croc_btn_endcall_s.croc_selected .croc_ui_image {
	background: url(../images/icons.png) no-repeat -165px -199px;
}

/* Keypad button */
.croc_btn_keypad .croc_ui_image {
	background:url(../images/icons.png) no-repeat -165px -395px;
}
.croc_btn_close .croc_ui_image {
	background:url(../images/icons.png) no-repeat -109px -341px;
}

/*
 *  Button style 6
 */
.croc_scheme_button_6.croc_disabled {
	background-color:#555555;
	color:#AAA;
	pointer-events:none;
}
.croc_scheme_button_6 {
	background:#FFFFFF;
	border-color:#E4E4E4;
}
.croc_scheme_button_6:hover {
	border-color:#C2D3CF;
}
.croc_scheme_button_6:focus {
	border-color:#409F89;
}

/*
 * Action button style
 */
.croc_scheme_action_button {
	border-radius:5px;
	border:1px solid transparent;
}
.croc_scheme_action_button:hover {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	background: rgba(0, 0, 0, 0.2);
}
.croc_scheme_action_button:focus {
	background-color:rgba(255, 255, 255, 0.2);
}

.croc_scheme_action_button.croc_selected {
	background-color:rgba(255, 255, 255, 0.1);
}
.croc_scheme_action_button.croc_ui_selected_2 {
	background-color:rgba(0, 0, 0, 0.5);
}

/* General button styling */
.croc_scheme_label_1 {
	color:#1A3E36;
}
.croc_scheme_widget {
       background-color:#e6ebea;
}
.croc_ui_input_button {
	cursor:pointer;
	position:relative;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	outline:none;
}
.croc_ui_input_button .croc_ui_image {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	pointer-events:none;
}
.croc_ui_input_button.croc_scheme_button_6 {
	border-width:1px;
	border-style:solid;
	border-radius:4px;
}

/* Label styling */
.croc_ui_label {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/* General Tab styling */
.croc_tab-container h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
.croc_tab-container {
	padding:0;
	margin:0;
	cursor:default;
	font-family: proxima-nova-condensed,Arial,sans-serif;
	user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-webkit-touch-callout:none;
	overflow:visible;
	font-size: 16px;
	width:100%;
}
.croc_tab-container:focus {
	outline:none;
}
.croc_tab-logo {
	width: 47px;
	height: 25px;
	position: relative;
	z-index: 1030;
	cursor: pointer;
	pointer-events: none;
}
.croc_side-tab {
	border-radius: 10px 10px 0 0;
	padding: 5px;
	width: 102px;
	height: 30px;
	position: relative;
	top: 52px;
	left: -36px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 15px;
	cursor: pointer;
}
.croc_side-tab  p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	position: relative;
	top: -18px;
	left: 30px;
}

/* rotate element 90 degrees counter-clockwise */
.croc_rotate-vertical {

	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* Style for making a red circle pulsate */
@-webkit-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@-moz-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@-ms-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@-o-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
.croc_warning-light {
	height:6px;
	width:6px;
	display: none;
	position: relative;
	top: -29px;
	left: 95px;
}
.croc_warning-light .croc_warning-light-circle {
	height:5px;
	width:5px;
	border:1px red solid;
	border-radius: 2.5px;
	position: relative;
	z-index: 9999;
	background-color:rgba(255,0,0,255);
}

/* Creates an infinite pulsating effect */
.croc_warning-light:hover .croc_warning-light-circle, .croc_warning-light .croc_warning-light-circle {
	-webkit-animation-name: resize;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	-moz-animation-name: resize;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	-o-animation-name: resize;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;

	animation-name: resize;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}