/* Default right tab styling */
.croc_tab-container {
	padding:0;
	margin:0;
	cursor:default;
	font-family: proxima-nova-condensed,Arial,sans-serif;
	user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-webkit-touch-callout:none;
	overflow:visible;
	font-size: 16px;
	width:100%;
}

.croc_tab-container:focus {
	outline:none;
}

.croc_tab-container a:visited {
	color:#000;
}

.croc_tab-container a:link {
	color:#000;
}

.croc_tab-wrapper {
	width: 40px;
	position: fixed;
	top: 100px; /* 100px */
	right: 0;
	-webkit-transition: right 2s;
	-moz-transition: right 2s;
	-ms-transition: right 2s;
	-o-transition: right 2s;
	transition: right 2s;
	outline: none;
}
.croc_tab-wrapper-video {
	width: 40px;
	position: fixed;
	top: 100px;
	right: 0;
	-webkit-transition: right 2s;
	-moz-transition: right 2s;
	-ms-transition: right 2s;
	-o-transition: right 2s;
	transition: right 2s;
	outline: none;
}
.croc_tab-logo {
	width: 47px;
	height: 25px;
	position: relative;
	z-index: 1030;
	cursor: pointer;
	pointer-events: none;
}
.croc_side-tab {
	border-radius: 10px 10px 0 0;
	padding: 5px;
	width: 102px;
	height: 30px;
	position: relative;
	top: 52px;
	left: -36px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 15px;
	cursor: pointer;
}
.croc_side-tab  p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	position: relative;
	top: -18px;
	left: 30px;
}
.croc_side-tab-content  p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.croc_side-tab-content {
	width: 370px;
	height: 176px;
	position: relative;
	top: -40px;
	left: 45px;
	display: none;
}
.croc_side-tab-content-video {
	width: 501px;
	height: 333px;
	position: relative;
	top: -40px;
	left: 45px;
	display: none;
}

/* rotate element 90 degrees counter-clockwise */
.croc_rotate-vertical {

	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* Convert right tab to left tab for audio */
.croc_tab-wrapper.croc_audio-left-tab {
	left: 0px;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	transition: left 2s;
}
.croc_side-tab-content.croc_audio-left-content {
	left: -374px;
}

/* Convert right tab to left tab for video*/
.croc_tab-wrapper-video.croc_video-left-tab {
	left: 0;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	transition: left 2s;
}
.croc_side-tab-content-video.croc_video-left-content {
	left: -506px;
}

/* Convert right tab to bottom tab for audio */
.croc_audio-bottom-tab {
	bottom: 0px;
	left: 615px;
	-webkit-transition: bottom 2s;
	-moz-transition: bottom 2s;
	transition: bottom 2s;
}
.croc_side-tab.croc_rotate-horizontal {
	top: 0px;
	left: 15px;
}
.croc_side-tab-content.croc_audio-bottom-content {
	top: 5px;
	left: 0;
}

/* Convert right tab to bottom tab for video */
.croc_video-bottom-tab {
	left:  615px;
	bottom: 0px;
	-webkit-transition: bottom 2s;
	-moz-transition: bottom 2s;
	transition: bottom 2s;
}
.croc_side-tab.croc_video-side-tab-bottom {
	left: 15px;
	top: 0px;
}
.croc_side-tab-content-video.croc_video-bottom-content {
	top: 5px;
	left: 0px;
}

/* Convert right tab to top tab for video */
.croc_video-top-tab {
	top: 0;
	left: 615px;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	transition: top 2s;
}
.croc_side-tab.croc_video-top-side-tab {
	left: 15px;
	top: 0;
}
.croc_side-tab-content-video.croc_video-top-content {
	left: 0;
	top: -378px;
}

/* Convert right tab to top tab for audio */
.croc_audio-top-tab {
	top: 0px;
	left: 615px;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	transition: top 2s;
}
.croc_side-tab.croc_audio-side-tab-top {
	top: 0;
	left: 15px;
}
.croc_side-tab-content.croc_audio-top-content {
	top: -220px;
	left: 0px;
}

/* Style for making a red circle pulsate */
@-webkit-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@-moz-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@-ms-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@-o-keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
@keyframes resize {
	100% {
		background-color:rgba(255,0,0,0.2);
	}
}
.croc_warning-light {
	height:6px;
	width:6px;
	display: none;
	position: relative;
	top: -29px;
	left: 95px;
}
.croc_warning-light .croc_warning-light-circle {
	height:5px;
	width:5px;
	border:1px red solid;
	border-radius: 2.5px;
	position: relative;
	z-index: 9999;
	background-color:rgba(255,0,0,255);
}

/* Creates an infinite pulsating effect */
.croc_warning-light:hover .croc_warning-light-circle, .croc_warning-light .croc_warning-light-circle {
	-webkit-animation-name: resize;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	-moz-animation-name: resize;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	-o-animation-name: resize;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;

	animation-name: resize;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}