.ui_input_button {
	cursor:pointer;
	position:relative;
}

.ui_input_button .ui_image {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	pointer-events:none;
}

.ui_input_button.ui_action_button {
	border-radius:3px;
	padding:7px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.ui_input_button.scheme_button_1 {
	font-weight:bold;
	background-color:#409F89;
	color:#FFFFFF;
}

.ui_input_button.scheme_button_2 {
	font-weight:bold;
	background-color:#C62828;
	color:#FFFFFF;
}

.ui_input_button.scheme_button_3 {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e7eceb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7eceb));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e7eceb 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e7eceb 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e7eceb 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e7eceb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eceb',GradientType=0 );
	border:1px solid #c2d3cf;
	color:#409f89;
	font-size:14px;
	font-weight:bold;
	border-radius:3px;
	margin:-1px;
}