.ui_tooltip {
	overflow: visible;
	position: absolute;
	left: 10em;
	top: 10em;
	z-index: 1000;
	text-align:center;
}

.ui_tooltip .ui_tooltip_content {
	background: rgba(0,0,0,0.6);
	border-radius: 5px;
	color: #fff;
	font-family: Arial;
	font-size: 13px;
	padding: 14px 10px 14px 10px;
	line-height: 13px;
}

.ui_tooltip .ui_tooltip_arrow {
	background: url('../images/icons.png') no-repeat;
	background-position: -122px -523px;
	height: 1em;
	width: 1em;
	position: absolute;
	bottom: -1em;
	margin-left: -0.5em;
	display: inline-block;
}
