/*	reset	*/

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

ul, li, ol {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}


/*	Widget Styles	*/

.ui_widget {
	position:absolute;
}

.ui_widget.ui_fullscreen .ui_container {
	box-shadow:none !important;
}

.ui_widget .ui_container {
	border-radius:10px;
	background-color:rgba(230,235,234, 1);
	box-shadow: 0px 0px 10px 1px #343434;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.tpl_title {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7eceb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7eceb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7eceb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e7eceb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7eceb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e7eceb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7eceb',GradientType=0 ); /* IE6-9 */
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid #c2d3cf;
	display: block;
	font-size: 12px;
	height: 42px;
	color:#64857d;
	font-family:Arial;
	cursor:default;
	width: 100%;
}

.tpl_title .title_control h1.ui_title {
	color: #1a3e36;
	font-size: 13px;
	font-weight: bold;
	padding: 13px 13px 0px 13px;
}

.ui_widget .ui_content {
	position:relative;
	padding:0px;
}

.ui_widget .ui_actions {
	position:absolute;
	right:10px;
	top:10px;
	height:20px;
	padding:0;
	margin:0;
	box-shadow:none;
	border:none;
	background-color:transparent;
}

.ui_widget .ui_actions .ui_input_button .ui_input:active {
	box-shadow:inset 0 3px 5px #000;
	border-radius:5px;
}