.widget_videocall {
	height: 333px;
	width: 501px;
}

.widget_videocall .ui_content {
	height:100%;
}

.widget_videocall .title_control {
	position:relative;
	top:50%;
	margin-top:-0.5em;
	margin-left:1em;
	font-size:13px;
}

.widget_videocall .tpl_titlebar .tpl_title {
	position:absolute;
	top:0;
}

.widget_videocall .tpl_title .ui_uri {
	font-weight:bold;
}

.widget_videocall .ui_container {
	overflow:hidden;
}

.widget_videocall .ui_content > .tpl_content {
	width:100%;
	height:100%;
	background:#000;
}

.widget_videocall .tpl_remotevideo {
	background: #000;
	border-radius:10px;
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
	height:100%;
	width: 100%;
}

.widget_videocall .tpl_titlebar.ui_shown,
.widget_videocall .tpl_titlebar:hover {
	top: 0px;
	-moz-transition-delay: 0s !important;
	-webkit-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	transition-delay:0s !important;
}

.widget_videocall .tpl_titlebar {
	position: absolute;
	top:-43px;
	z-index:100;
	width:100%;
	height:92%;
	-webkit-transition:top 1s ease-in-out 2s;
	-moz-transition:top 1s ease-in-out 2s;
	-o-transition:top 1s ease-in-out 2s;
	transition:top 1s ease-in-out 2s;
}

.widget_videocall .tpl_title .tpl_uri {
	font-weight: bold;
}

.widget_videocall .tpl_localvideo {
	display: none;
	position: absolute;
	left: 13px;
	bottom: 7px;
	background: #000;
	border: 3px solid #409f89;
	border-radius: 3px 3px 0px 3px;
	height: 69px;
	width: 69px;
}

.widget_videocall .tpl_localvideo .tpl_video {
	width:100%;
	height:100%;
}

.widget_videocall .ui_localvideoshown .tpl_localvideo {
	display:block;
}

.widget_videocall .tpl_localvideo .tpl_disabledvideo {
	background: url(../images/icons.png) no-repeat -190px -1px #000;
	display: none;
	opacity: 0.5;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.widget_videocall .ui_localvideodisabled .tpl_localvideo .tpl_disabledvideo {
	display:block;
}

.widget_videocall .btn_localvideo {
	border-radius: 0px 2px 2px 0px;
	padding: 3px 3px 3px 0px;
	position: absolute;
	bottom: 7px;
	left: 0.5em;
	width: 22px;
	height: 22px;
}

.widget_videocall .ui_localvideoshown .btn_localvideo {
	background: #409f89;
	left:88px;
}

.widget_videocall .ui_localvideoshown .btn_localvideo .ui_image {
	border-bottom: 1px solid #9ec8be;
	border-top: 1px solid #2b6c5d;.
}

.widget_videocall .btn_localvideo .ui_image {
	border-radius: 2px;
	top:50%;
	left: 50%;
	margin:-10px -1px -1px -10px;
	height: 20px;
	width: 20px;
}

.widget_videocall .tpl_actions .tpl_bar {
	background:rgba(0, 0, 0, 0.3);
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:34px;
}

.widget_videocall .tpl_controls .tpl_actions {
	position: absolute;
	display: block;
	height: 124px;
	width: 100%;
	bottom: -42px;

	transition: bottom 1s 1s;
	-moz-transition: bottom 1s 1s;
	-webkit-transition: bottom 1s 1s;
	-o-transition: bottom 1s 1s;
}

.widget_videocall .tpl_controls .tpl_actions.ui_shown,
.widget_videocall .tpl_controls .tpl_actions:hover {
	bottom: 0px;
	-moz-transition-delay: 0s !important;
	-webkit-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
}

.widget_videocall .tpl_controls .tpl_callactions {
	position: absolute;
	bottom: 0;
	right:0;
	height: 100%;
}

.widget_videocall .tpl_callactions > .ui_popout {
	display:inline-block;
}

.widget_videocall .tpl_callactions > .ui_input_button,
.widget_videocall .tpl_callactions > .ui_popout > .ui_input_button {
	height: 28px;
	width: 40px;
	display:inline-block;
	position:relative;
	top:3px;
	margin-right:0.2em;
}

.widget_videocall .ui_keypad {
	width:8em;
	height:10em;
}
.widget_videocall .ui_keypad table {
	font-size:12px;
}
