.widget_audiocall {
	height:11em;
	position:absolute;
	width: 23em;
}

.widget_audiocall .ui_container .ui_content {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 2.5em;
}

.widget_audiocall .ui_container .ui_content > .tpl_content {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
}

.widget_audiocall .ui_container .ui_content .tpl_actions {
	border-radius: 0px 0px 10px 10px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: #409F89;
	height:3em;
	text-align: center;
}

.widget_audiocall .tpl_info {
	margin-top:1.5em;
}

.widget_audiocall .tpl_info .tpl_remoteid .ui_label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.widget_audiocall .tpl_info .tpl_details {
	margin-top: 0.5em;
	text-align: center;
}

.widget_audiocall .tpl_info .tpl_details .tpl_status,
.widget_audiocall .tpl_info .tpl_details .ui_duration {
	display: inline-block;
	padding: 0 0.25em;
	font-size: 13px;
}

.widget_audiocall .tpl_actions > .tpl_group > .ui_popout {
	display:inline-block;
}

.widget_audiocall .tpl_actions > .tpl_group > .ui_input_button,
.widget_audiocall .tpl_actions > .tpl_group > .ui_popout > .ui_input_button {
	height: 1.75em;
	width: 2.5em;
	display:inline-block;
}

.widget_audiocall .ui_keypad {
	width:8em;
	height:10em;
}
.widget_audiocall .ui_keypad table {
	font-size:12px;
}

.widget_audiocall .tpl_actions .tpl_group {
	position:relative;
	top:50%;
	margin-top:-1em;
}

