.croc_ui_input_button {
	cursor:pointer;
	position:relative;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	outline:none;
}

.croc_ui_input_button .croc_ui_image {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	pointer-events:none;
}

.croc_ui_input_button.croc_scheme_button_6 {
	border-width:1px;
	border-style:solid;
	border-radius:4px;
}
